@model IEnumerable<hasicskyutok.Models.Kategorie>

@{
    ViewData["Title"] = "Kategorie";
}

<h1>Kategorie</h1>

<p>
    <a asp-action="Create">Vytvořit novou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Úprava</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detail</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
