@model IQueryable<hasicskyutok.ViewModel.Vysledek>
@{
    ViewData["Title"] = "Úvodní stránka";
}

@using (Html.BeginForm("Vyhledat", "Home"))
{
    <input type="text" name="startovniCislo" placeholder="Startovní číslo" class="form-control" />
    <input type="submit" value="Vyhledat" class="btn btn-success" />
}

autorefresh <input type="checkbox" id="checkbox1" title="auto refresh" checked />
<font color="red">@ViewBag.Chyba</font>
<font color="red" id='hlaska'>-</font>

<br />
<table class="table table-hover table-striped" id="test">
    <thead>
        <tr>
            <th>Startovní číslo</th>
            <th>Družstvo</th>
            <th>Výsledný čas 1</th>
            <th>Výsledný čas 2</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vysledek in Model)
        {
            <tr id='rowID@vysledek.DruzstvoID'>
                <td align='center'>@vysledek.StartovniCislo</td>
                <td><a href='@Url.Action("Detail","Home",new {id=@vysledek.DruzstvoID})'>@vysledek.DruzstvoNazev</a></td>
                <td>
                    @Html.DisplayFor(s=>vysledek.VyslednyCas1)
                    @if (vysledek.NeplatnyPokus1 == true)
                    {
                        <font color='red'><strong>X</strong></font>
                    }
                </td>
                <td>
                    @Html.DisplayFor(s => vysledek.VyslednyCas2)
                    @if (vysledek.NeplatnyPokus2 == true)
                    {
                        <font color='red'><strong>X</strong></font>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var enabledRefresh = true;
    $(document).ready(function () {
        $('#checkbox1').click(function () {
            if (!$(this).is(':checked')) {
                enabledRefresh = false;
            }
            else {
                enabledRefresh = true;
            }
        });
    });

    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    connection.on("UpdateVysledek", function (druzstvoID, startovniCislo, druzstvoNazev, vysledek1, vysledek2) {
        console.log("update vysledek id:" + druzstvoID + "; startovniCislo:" + startovniCislo + "; vysledek1:" + vysledek1 + "; vysledek2:" + vysledek2);
        if (enabledRefresh)
            location.reload();
    });

    connection.start().then(function () {
        document.getElementById("hlaska").textContent = "";
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("hlaska").textContent = "websocket offline";


</script>