@model IQueryable<hasicskyutok.Models.Vysledek>
@{
    ViewData["Title"] = "Výsledky";
}


<br />
<h3>Výsledky</h3>
@foreach (var kategorie in Model.GroupBy(s => s.Druzstvo.Kategorie.Nazev).Select(s => s.Key))
{
    <h3>@kategorie</h3>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Startovní číslo</th>
                <th>Družstvo</th>
                <th>Výsledný čas 1</th>
                <th>Výsledný čas 2</th>
            </tr>
        </thead>
        <tbody>
        @{
            var seznam = Model.Where(s => s.Druzstvo.Kategorie.Nazev == kategorie).ToList();
            seznam.Sort();
            foreach (var vysledek in seznam)
            {
                <tr>
                    <td align='center'>@vysledek.Druzstvo.StartovniCislo</td>
                    <td><a href='@Url.Action("Detail","Home",new {id=@vysledek.DruzstvoID})'>@vysledek.Druzstvo.Nazev</a></td>
                    <td>
                        @Html.DisplayFor(s=>vysledek.Cas1)
                    </td>
                    <td>
                        @Html.DisplayFor(s => vysledek.Cas2)
                    </td>
                </tr>
            }
        }
        </tbody>
    </table>
}
