@model IQueryable<hasicskyutok.Models.Vysledek>
@{
    ViewData["Title"] = "Výsledky";
}

<font color="red" id='hlaska'>-</font>

<br />
<h3>Výsledky</h3>
@foreach (var kategorie in Model.GroupBy(s => s.Druzstvo.Kategorie.Nazev).Select(s => s.Key))
{
    <h3>@kategorie</h3>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Pořadí</th>
                <th>Startovní číslo</th>
                <th>Družstvo</th>
                <th>Výsledný čas 1</th>
                <th>Výsledný čas 2</th>
            </tr>
        </thead>
        <tbody>
            @{
                var seznam = Model.Where(s => s.Druzstvo.Kategorie.Nazev == kategorie).ToList();
                seznam.Sort();
                int poradi = 1;
                foreach (var vysledek in seznam)
                {
                    <tr>
                        <td align='center'>@poradi</td>
                        <td align='center'>@vysledek.Druzstvo.StartovniCislo</td>
                        <td><a href='@Url.Action("Detail","Home",new {id=@vysledek.DruzstvoID})'>@vysledek.Druzstvo.Nazev</a></td>
                        <td>
                            @Html.DisplayFor(s => vysledek.Cas1)
                            @if (vysledek.NeplatnyPokus1 == true)
                            {
                                <font color='red'><strong>X</strong></font>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(s => vysledek.Cas2)
                            @if (vysledek.NeplatnyPokus2 == true)
                            {
                                <font color='red'><strong>X</strong></font>
                            }
                        </td>
                    </tr>
                    poradi++;
                }
            }
        </tbody>
    </table>
}

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>

    "use strict";
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    connection.on("UpdateVysledek", function (druzstvoID, startovniCislo, druzstvoNazev, vysledek1, vysledek2) {
        console.log("update vysledek id:" + druzstvoID + "; startovniCislo:" + startovniCislo + "; vysledek1:" + vysledek1 + "; vysledek2:" + vysledek2);
        location.reload();
    });

    connection.start().then(function () {
        document.getElementById("hlaska").textContent = "";
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("hlaska").textContent = "websocket offline";

</script>