@model IEnumerable<hasicskyutok.Models.Druzstvo>

@{
    ViewData["Title"] = "Startovní listina";
}

<h1>Startovní listina</h1>

@foreach (var kategorie in Model.GroupBy(s => new { s.Kategorie.ID, s.Kategorie.Nazev }))
{
    <h2>@kategorie.Key.Nazev</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StartovniCislo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nazev)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Where(s => s.KategorieID == kategorie.Key.ID).OrderBy(s => s.StartovniCislo))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StartovniCislo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nazev)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}