@model IEnumerable<HasicskyUtok.Models.Stafeta>

@{
    ViewData["Title"] = "Stafeta";
}

<h1>Stafeta</h1>

<p>
    <a asp-action="Create">Vytvořit novou</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NazevStafety)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NazevStafety)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Úprava</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Detail</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
